.characters div,
.painting div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2rem 5%;
  .image {
    display: flex;
    flex: 1;
    max-width: 200px;
    max-height: 220px;
  }
  .text {
    display: flex;
    flex-direction: column;
    flex: 3;
    margin: 0;
    justify-content: center;
    h3 {
      margin-bottom: 2rem;
      justify-content: flex-start;
    }
    p {
      text-align: justify;
    }
  }
}
.gallery {
  margin: 2rem 5%;
  justify-content: center;

  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .photo {
    display: flex;
    width: auto;
    // align-self: stretch;
    margin: 0.5rem auto;
    padding: 0 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .characters div,
  .painting div {
    display: flex;
    flex-direction: column;
  }

  h3 {
    align-self: center;
  }
  p {
    font-size: 0.9rem;
  }
  .image,
  .photo {
    align-self: center;
  }
}
@media screen and (max-width: 400px) {
  p {
    font-size: 0.7rem;
  }
}
